## A intenção do projeto é criar um chatbot baseado em reviews de filmes para que se possa fazer perguntas e manter uma conversa livre

- link do banco de dados https://www.kaggle.com/Cornell-University/movie-dialog-corpus?select=movie_lines.tsv
- referências
>- https://shanebarker.com/blog/deep-learning-chatbot/
> -https://towardsdatascience.com/how-to-create-a-chatbot-with-python-deep-learning-in-less-than-an-hour-56a063bdfc44

In [1]:
import pandas as pd
import re
import gensim
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
#setting parameters for data visualization
np.set_printoptions(threshold=None, precision=2)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('precision', 2)

### Opening movie reviews

In [3]:
messages = pd.read_csv('./chatdata/movie_titles_metadata.tsv', header = None, delimiter="\t", quoting=3, encoding='ISO-8859-2')

In [5]:
messages.columns = ['movie_id', 'movie_name', 'movie_age', 'movie_rating', 'qtde_votes', 'genre']

In [6]:
messages.head(10)

,movie_id,movie_name,movie_age,movie_rating,qtde_votes,genre
0,m0,10 things i hate about you,1999,6.9,62847,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289,['action' 'comedy' 'crime' 'drama' 'thriller']
5,m5,the fifth element,1997,7.5,133756,['action' 'adventure' 'romance' 'sci-fi' 'thri...
6,m6,8mm,1999,6.3,48212,['crime' 'mystery' 'thriller']
7,m7,a nightmare on elm street 4: the dream master,1988,5.2,13590,['fantasy' 'horror' 'thriller']
8,m8,a nightmare on elm street: the dream child,1989,4.7,11092,['fantasy' 'horror' 'thriller']
9,m9,the atomic submarine,1959,4.9,513,['sci-fi' 'thriller']

### Data exploration

In [7]:
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      617 non-null    object
 1   movie_name    617 non-null    object
 2   movie_age     617 non-null    object
 3   movie_rating  617 non-null    float64
 4   qtde_votes    617 non-null    int64
 5   genre         617 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 29.0+ KB

In [8]:
messages.describe()

       movie_rating  qtde_votes
count        617.00      617.00
mean           6.86    49820.96
std            1.22    61880.61
min            2.50        9.00
25%            6.20     9919.00
50%            7.00    27112.00
75%            7.80    66781.00
max            9.30   419312.00